.Services{
    background-color: rgb(224, 197, 197);
    width: 100%;
    
    
    
    
}

.sertxt{
    font-size: 24px;
    padding: 20px;
}
.Services h1{
    text-align: center;
}
.category{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
}


.container_category img{
    width: 150px;
    height: 150px;
    box-shadow: 8px 8px 9px;
    cursor: pointer;
}

.activecategory{
    border: 5px solid orangered;
}

.servicecontainer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
     margin-top: 3rem;
     row-gap: 50px;
     position: relative;
     left: 13px;
     
}





@media(max-width:1160px){

    .category{
        overflow:auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
        height: 17rem;
     }

     .container_category img{
        width: 12rem;
    height: 12rem;
        margin: 10px;
        
        
    }


    .servicecontainer{
        
        grid-template-columns:  1fr 1fr 1fr ;
        
         
    }



}

@media(max-width:720px){

    .category{
        height: 11rem;
    }


    .container_category img{
        width: 120px;
        height: 120px;
        
        
        
    }


}

@media(max-width:585px){
.container_category img{
        width: 100px;
        height: 100px;
        
        
    }



    .servicecontainer{
        
        grid-template-columns:  1fr 1fr;
         margin-top: 3rem;
         row-gap: 40px;
         position: relative;
         left: 53px;
         
    }
}

@media(max-width:450px){

    .category{
        grid-template-columns: 1fr 1fr;
    }

    .servicecontainer{

        left: 10px;
    }


}