.Services{
    background-color: rgb(224, 197, 197);
    width: 100%;
    border: 2px solid;
    
    
    
}

.sertxt{
    font-size: 24px;
    padding: 20px;
}
.Services h1{
    text-align: center;
}
.category{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
}


.container_category img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.activecategory{
    border: 5px solid orangered;
}

.servicecontainer{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
     margin-top: 3rem;
     row-gap: 50px;
     position: relative;
     left: 13px;
     
}

