.Home{
    height: 100vh;
    overflow: hidden;
}

.heroimg{
    width: 100vw;
    height: 100vh;
}
.wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.31);
    z-index: 0;
    position: absolute;
    top: 4rem;
    display: flex;
    justify-content: center;
    color: white;
    
}
.wrap .txt{
    font-size: 80px;
    position: absolute;
    left: 13%;
    top: 16%;
    width: 28%;
    font-weight: bolder;
}
.wrap button{
    width: 100px;
    height: 40px;
    padding: 10px;
    background: white;
    overflow: hidden;
    position: relative;
    top: 70%;
}