.nav{
    height: 4rem;
    border-bottom: 2px solid;
   
   
    
}
.navmenu{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    
   
    
    
}

 .logo{
    text-decoration: none;
    font-weight: 600;
    color:orangered;
    transition: 0.5s;
   font-size: 44px;
}
.cartimg{
    width: 50px;
    cursor: pointer;
}
.navmenu .menu{
    text-decoration: none;
    transition: 5s;
    

}
.navmenu .menu:hover{
    border-bottom: 1px solid orangered;
}



.btnsign{
    
    width: 100px;
    height: 42px;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    
}
.btnsign:hover{
    background-color: orangered;
    color: white;
}
.logo:hover{
    transform: scale(1.2);
}