.Contact{
    height: 100vh;
    background-color: rgb(209, 190, 190);
    text-align: center;
}

.contact-col-1{
    
    margin: 10px;
    padding: 5px;
}

.contact-col{
    text-align: start;
    height: 80%;
    padding: 5px;
    width: 60%;
    place-self:center;
   

}
.contact-col form input{
    display: flex;
    flex-direction: column;
    

}
.contact-col form input,textarea{
    margin: 10px;
    padding: 20px;
    width: 90%;
    border: none;
    border-radius:4px;
    
}

.submit-btn{
    margin: 12px;
    padding: 12px;
    background-color:white;
    cursor: pointer;
    border: none;
    transition: 0.5s;

}

.submit-btn:hover{
    background-color: rgb(120, 184, 120);
    
}



.address{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


.address img{
    width: 22px;
    margin:0 10px 0 40px;
    
    
}

@media(max-width:750px){

    .contact-col{
        text-align: start;
        height: 80%;
        padding: 5px;
        width: 100%;
        border: 2px solid;
        place-self:center;
       
    
    }
    .address{
        border: 2px solid;
        width: 100%;
        margin:0px;
    }

    .address img{
        width: 17px;
        margin:0 7px 0 30px;
        
        
    }


    
}

@media(max-width:650px){

    .address{
        flex-direction: column;
        
    }

    .address img{
        width: 14px;
        margin-top:12px;
        
        
    }
}






