.list-format img{
    width: 7rem;
}

.form-col{
    width: 90%;
}
.list-format{
    
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    font-size: 22px;
}
.list-format:hover{
    background-color: silver;
}

.cut-list{
    cursor: pointer;
    font-weight:500;
    font-size: 22px;
   

}


@media(max-width:800px){

    .list-format img{
        width: 4rem;
    }

    .list-format{
        font-size: 15px;
    }

    .cut-list{
        font-size: 20px;
    }


}

@media(max-width:620px){

    .list-format img{
        width: 3rem;
    }

    .list-format{
        font-size: 13px;
    }

    .cut-list{
        font-size: 18px;
    }


}

@media(max-width:460px){


    .list-format img{
        width: 2rem;
    }

    .list-format{
        font-size: 12px;
    }

    .cut-list{
        font-size: 15px;
    }


}
